body{
    background: url("images/main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0px;
    font-family: Arial;
}
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
    width: 400px;
    margin: auto;
}
a{
    display: block;
    margin-top: 0px;
    text-align: center;
    color: red;
    font-size: 18px;
}